body{
    background-color: rgb(222, 222, 228);
    font-family: "Roboto", sans-serif;
}
h1{
    text-align: center;
    font-size: 40px;
    
    
}
h2{
    margin-bottom: 7px;
    font-size: 34px;

    
}
select{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
footer{
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    
}
.clock-container{
    background-color: rgb(133, 133, 180);
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtr22xSuc9p6lt-bzE5qkdFfY-l7SLyBC2gQ&s");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
    
   
}
.city{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 15px ;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    background-color: #8A877D;
    opacity: 0.9;
    padding: 10px;
    border-radius: 10px;

}
.citylink{
    color: black;
    font-weight: bold;
    margin: 5px;
    font-size: 20px;
}

.city:hover{
    opacity: 0.8;
    transition: all 150ms ease-in-out;
}

.date{
    opacity: 0.8;
}
.time{
    font-size:45px;
    font-weight: bolder;
    margin-top: 30px;
}
.time small {
    font-size: 20px;
    vertical-align: middle;
    line-height: 48px;
  }
